<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h3>Площадь круга</h3>
<form id="circleForm">
    <label for="radius">Укажите радиус:</label>
    <input type="number" id="radius" name="radius" step="0.01" min="0" required>
    <button type="submit">Вычислить</button>
</form>
<p id="circleArea"></p>

<h3>Площадь треугольника</h3>
<form id="triangleForm">
    <label for="sideA">Сторона A:</label>
    <input type="number" id="sideA" name="sideA" step="0.01" min="0" required>
    <label for="sideB">Сторона B:</label>
    <input type="number" id="sideB" name="sideB" step="0.01" min="0" required>
    <label for="sideC">Сторона C:</label>
    <input type="number" id="sideC" name="sideC" step="0.01" min="0" required>
    <button type="submit">Вычислить</button>
</form>
<p id="triangleArea"></p>
<p id="isRightTriangle"></p>

<h3>Площади фигур</h3>
<form id="shapeForm">
    <label for="type">Тип:</label>
    <select id="type" name="type" required>
        <option value="">Выберите фигуру</option>
        <option value="circle">Круг</option>
        <option value="triangle">Треугольник</option>
        <option value="square">Квадрат</option>
        <option value="rectangle">Прямоугольник</option>
    </select>
    <div id="circleInputs" style="display: none;">
        <label for="circleRadius">Укажите радиус:</label>
        <input type="number" id="circleRadius" name="parameters" step="0.01" min="0">
    </div>
    <div id="triangleInputs" style="display: none;">
        <label for="triangleSideA">Сторона A:</label>
        <input type="number" id="triangleSideA" name="parameters" step="0.01" min="0">
        <label for="triangleSideB">Сторона B:</label>
        <input type="number" id="triangleSideB" name="parameters" step="0.01" min="0">
        <label for="triangleSideC">Сторона C:</label>
        <input type="number" id="triangleSideC" name="parameters" step="0.01" min="0">
    </div>
    <div id="squareInputs" style="display: none;">
        <label for="squareSide">Сторона:</label>
        <input type="number" id="squareSide" name="parameters" step="0.01" min="0">
    </div>
    <div id="rectangleInputs" style="display: none;">
        <label for="rectangleLength">Длина:</label>
        <input type="number" id="rectangleLength" name="parameters" step="0.01" min="0">
        <label for="rectangleWidth">Ширина:</label>
        <input type="number" id="rectangleWidth" name="parameters" step="0.01" min="0">
    </div>
    <button type="submit">Вычислить</button>
</form>
<p id="shapeArea"></p>
<p id="isRightTriangleShape"></p>

<script>
    $(document).ready(function () {
        $("#circleForm").submit(function (e) {
            e.preventDefault();
            $.post("/Home/CalculateCircleArea", $(this).serialize(), function (data) {
                $("#circleArea").text("Площадь: " + data);
            });
        });

        $("#triangleForm").submit(function (e) {
            e.preventDefault();
            $.post("/Home/CalculateTriangleArea", $(this).serialize(), function (data) {
                $("#triangleArea").text("Площадь: " + data.area);
                $("#isRightTriangle").text("Является ли прямоугольным треугольником: " + (data.isRight ? "Да" : "Нет"));
            });
        });

        $("#shapeForm").submit(function (e) {
            e.preventDefault();
            var type = $("#type").val();
            var parameters = $(this).find('input[name="parameters"]:visible').map(function () { return $(this).val(); }).get();
            $.post("/Home/CalculateArea", { type: type, parameters: parameters }, function (data) {
                $("#shapeArea").text("Площадь: " + data.area);
                if (type === "triangle") {
                    $("#isRightTriangleShape").text("Является ли прямоугольным треугольником: " + (data.isRight ? "Да" : "Нет"));
                } else {
                    $("#isRightTriangleShape").text("");
                }
            });
        });

        $("#type").change(function () {
            var type = $(this).val();
            if (type == "circle") {
                $("#circleInputs").show();
                $("#triangleInputs").hide();
                $("#squareInputs").hide();
                $("#rectangleInputs").hide();
            } else if (type == "triangle") {
                $("#triangleInputs").show();
                $("#circleInputs").hide();
                $("#squareInputs").hide();
                $("#rectangleInputs").hide();
            } else if (type == "square") {
                $("#squareInputs").show();
                $("#circleInputs").hide();
                $("#triangleInputs").hide();
                $("#rectangleInputs").hide();
            } else if (type == "rectangle") {
                $("#rectangleInputs").show();
                $("#circleInputs").hide();
                $("#triangleInputs").hide();
                $("#squareInputs").hide();
            } else {
                $("#circleInputs").hide();
                $("#triangleInputs").hide();
                $("#squareInputs").hide();
                $("#rectangleInputs").hide();
            }
            $("#shapeArea").text("");
            $("#isRightTriangleShape").text("");
        });
    });
</script>
